<% layout("/layouts/boilerPlate") -%> <br /><br />
<div class="row">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form
      action="/listings"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add Catchy Title"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please Enter title</div>
        <div class="valid-feedback">Title Looks good</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter Description"
          type="text"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please Enter short Description</div>
        <div class="valid-feedback">Description looks Good</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          name="listing[image]"
          placeholder="Enter image URL/Link"
          type="file"
          class="form-control"
          required
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid Price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid Country</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Mumbai,Maharastra"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please Enter your location</div>
      </div>
      <br /><br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
